USE [master]
GO
/****** Object:  Database [SE12]    Script Date: 3/30/2017 1:01:31 PM ******/
CREATE DATABASE [SE12]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SE12', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\SE12.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SE12_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\SE12_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SE12].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SE12]
GO
/****** Object:  UserDefinedFunction [dbo].[func_maxMaKM]    Script Date: 3/30/2017 1:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION  [dbo].[func_maxMaKM] (@MaBaiDang int)
RETURNS int
as
begin
return (select top 1 MaKhuyenMai from KhuyenMai where MaBaiDang=@MaBaiDang and GETDATE() between NgayBatDau and NgayKetThuc order by MaKhuyenMai desc)
end



GO
/****** Object:  Table [dbo].[BaiDang]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiDang](
	[MaBaiDang] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[AnhBia] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[DiaChiWeb] [nvarchar](100) NULL,
	[ViDo] [float] NULL,
	[KinhDo] [float] NULL,
	[SDT] [nvarchar](50) NULL,
	[GiaCaoNhat] [int] NULL,
	[GiaThapNhat] [int] NULL,
	[NgayDang] [date] NULL,
	[NgayHetHan] [date] NULL,
	[SoLuotTruyCap] [int] NULL,
	[SoLuotThich] [int] NULL,
	[Username] [nvarchar](20) NOT NULL,
	[MaDanhMuc] [int] NOT NULL,
	[MaLoaiTin] [int] NOT NULL,
	[MaTinhThanh] [int] NOT NULL,
	[DiemDanhGia] [float] NULL,
 CONSTRAINT [pk_BaiDang] PRIMARY KEY CLUSTERED 
(
	[MaBaiDang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[DiemDanhGia] [float] NULL,
	[NgayBinhLuan] [date] NULL,
	[MaBaiDang] [int] NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
 CONSTRAINT [pk_BinhLuan] PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTGiaoDich]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTGiaoDich](
	[MaGiaoDich] [int] NOT NULL,
	[MaGoi] [int] NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [pk_CTGiaoDich] PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC,
	[MaGoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_DichVu] PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DichVuBD]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVuBD](
	[MaDichVu] [int] NOT NULL,
	[MaBaiDang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC,
	[MaBaiDang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GiaoDich]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDich](
	[MaGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[NgayGiaoDich] [date] NULL,
	[ThanhTien] [int] NULL,
	[Username] [nvarchar](20) NOT NULL,
 CONSTRAINT [pk_GiaoDich] PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Goi]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goi](
	[MaGoi] [int] IDENTITY(1,1) NOT NULL,
	[TenGoi] [nvarchar](50) NULL,
	[DonGia] [int] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [pk_Goi] PRIMARY KEY CLUSTERED 
(
	[MaGoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HinhAnh]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnh](
	[MaHinh] [int] IDENTITY(1,1) NOT NULL,
	[TenHinh] [nvarchar](50) NOT NULL,
	[MaBaiDang] [int] NOT NULL,
 CONSTRAINT [pk_HinhAnh] PRIMARY KEY CLUSTERED 
(
	[MaHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[MaBaiDang] [int] NOT NULL,
 CONSTRAINT [pk_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[MaLienHe] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayGui] [date] NULL,
	[SDT] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[MaVanDe] [int] NOT NULL,
 CONSTRAINT [pk_LienHe] PRIMARY KEY CLUSTERED 
(
	[MaLienHe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiTaiKhoan]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTaiKhoan](
	[MaLoaiTK] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiTK] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_LoaiTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiTin]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTin](
	[MaLoaiTin] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiTin] [nvarchar](50) NOT NULL,
	[CapDoTin] [int] NULL,
 CONSTRAINT [pk_LoaiTin] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiTKUuDai]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTKUuDai](
	[MaLoaiTK] [int] NOT NULL,
	[MaUuDai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiTK] ASC,
	[MaUuDai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LuuBD]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuuBD](
	[MaBaiDang] [int] NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[NgayLuu] [date] NULL,
 CONSTRAINT [pk_LuuBD] PRIMARY KEY CLUSTERED 
(
	[MaBaiDang] ASC,
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [int] NOT NULL,
	[TenQuyen] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_Quyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Username] [nvarchar](20) NOT NULL,
	[Pass] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Avatar] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinh] [int] NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nvarchar](50) NULL,
	[NgayDangKy] [date] NULL,
	[MaQuyen] [int] NOT NULL,
	[MaLoaiTK] [int] NOT NULL,
 CONSTRAINT [pk_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thich]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thich](
	[MaBaiDang] [int] NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[NgayThich] [date] NULL,
 CONSTRAINT [pk_Thich] PRIMARY KEY CLUSTERED 
(
	[MaBaiDang] ASC,
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinhThanh]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanh](
	[MaTinhThanh] [int] IDENTITY(1,1) NOT NULL,
	[TenTinhThanh] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_TinhThanh] PRIMARY KEY CLUSTERED 
(
	[MaTinhThanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UuDai]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UuDai](
	[MaUuDai] [int] IDENTITY(1,1) NOT NULL,
	[TenUuDai] [nvarchar](50) NOT NULL,
	[ThoiHanUuDai] [int] NOT NULL,
	[MaLoaiTK] [int] NOT NULL,
 CONSTRAINT [pk_UuDai] PRIMARY KEY CLUSTERED 
(
	[MaUuDai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VanDe]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VanDe](
	[MaVanDe] [int] IDENTITY(1,1) NOT NULL,
	[TenVanDe] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_VanDe] PRIMARY KEY CLUSTERED 
(
	[MaVanDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BaiDang] ON 

SET IDENTITY_INSERT [dbo].[BaiDang] OFF
SET IDENTITY_INSERT [dbo].[BinhLuan] ON 

INSERT [dbo].[BinhLuan] ([MaBinhLuan], [TieuDe], [NoiDung], [DiemDanhGia], [NgayBinhLuan], [MaBaiDang], [Username]) VALUES (1, N'Trà sữa trà xanh uống siêu thơm luôn luôn', N'Trà sữa trà xanh uống siêu thơm luôn luôn, trà sữa không quá ngọt, chân châu ăn bình thường. Khi order được quyền chọn lượng đường, lượng đá cho phù hợp với mỗi người luôn. Giá có phần hơi cao nhưng so với chất lượng thì rất hài lòng', 5, CAST(0x9A3C0B00 AS Date), 21, N'DonNA')
INSERT [dbo].[BinhLuan] ([MaBinhLuan], [TieuDe], [NoiDung], [DiemDanhGia], [NgayBinhLuan], [MaBaiDang], [Username]) VALUES (2, N'Bobapop là một trong những tiệm trà sữa', N'Đây là Trà Quan Âm của thương hiệu Bobapop. Trà khá ngon nhưng tớ lại không thích lắm (ý kiến riêng) nhưng tớ vẫn thích cái lớp sủi bọt béo béo có thêm một chút bột trà xanh nên khi nếm thử thì lạ vô cùng 😸. Riêng về phần trà khi uống bạn sẽ cảm nhận hương vị trong trẻo của nó gọi là mát dạ đấy nhỉ 😄😄 ❤', 4, CAST(0x9A3C0B00 AS Date), 21, N'DonNA')
INSERT [dbo].[BinhLuan] ([MaBinhLuan], [TieuDe], [NoiDung], [DiemDanhGia], [NgayBinhLuan], [MaBaiDang], [Username]) VALUES (3, N'Quảng cáo tý nha ^^', N'💠 IPAD sz 25 /-strong 🔽 Giá: 180K 🔽 Upad về chất da mới đẹp, nắp liền, túi có 2 ngăn. 👉 Xem thêm mẫu khác: zalo 0971680081', 2, CAST(0x9A3C0B00 AS Date), 43, N'DonNA')
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (1, N'Làm đẹp')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (2, N'Kinh doanh')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (3, N'Dich vụ ăn uống')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu]) VALUES (1, N'Wifi Free')
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu]) VALUES (2, N'Vật nuôi thân thiện')
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu]) VALUES (3, N'Góc trẻ em')
SET IDENTITY_INSERT [dbo].[DichVu] OFF
INSERT [dbo].[DichVuBD] ([MaDichVu], [MaBaiDang]) VALUES (1, 1)
INSERT [dbo].[DichVuBD] ([MaDichVu], [MaBaiDang]) VALUES (1, 2)
INSERT [dbo].[DichVuBD] ([MaDichVu], [MaBaiDang]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[HinhAnh] ON 

INSERT [dbo].[HinhAnh] ([MaHinh], [TenHinh], [MaBaiDang]) VALUES (41, N'upload/img/bai-dang/20170321_09_04_18_0.jpg', 14)
INSERT [dbo].[HinhAnh] ([MaHinh], [TenHinh], [MaBaiDang]) VALUES (42, N'upload/img/bai-dang/20170321_09_04_18_1.jpg', 14)
INSERT [dbo].[HinhAnh] ([MaHinh], [TenHinh], [MaBaiDang]) VALUES (43, N'upload/img/bai-dang/20170321_09_04_18_2.jpg', 14)
GO
SET IDENTITY_INSERT [dbo].[HinhAnh] OFF
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TieuDe], [NoiDung], [NgayBatDau], [NgayKetThuc], [MaBaiDang]) VALUES (1, N'xin chào', N'xin chào xin chào xin chào xin chào', CAST(0x9B3C0B00 AS Date), CAST(0x9D3C0B00 AS Date), 5)
INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TieuDe], [NoiDung], [NgayBatDau], [NgayKetThuc], [MaBaiDang]) VALUES (2, N'Thêm khuyến mãi', N'Gyms đang có đợt huấn luyện vào các ngày cuối tuần.', CAST(0x883C0B00 AS Date), CAST(0xA63C0B00 AS Date), 5)
INSERT [dbo].[KhuyenMai] ([MaKhuyenMai], [TieuDe], [NoiDung], [NgayBatDau], [NgayKetThuc], [MaBaiDang]) VALUES (3, N'Thêm nữa nè', N'Gyms đang có đợt huấn luyện vào các ngày cuối tuần.', CAST(0x9B3C0B00 AS Date), CAST(0x9C3C0B00 AS Date), 5)
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
SET IDENTITY_INSERT [dbo].[LienHe] ON 

INSERT [dbo].[LienHe] ([MaLienHe], [TieuDe], [NoiDung], [NgayGui], [SDT], [Email], [MaVanDe]) VALUES (5, N'Cần chỉnh sửa lại địa điểm ID 6', N'Mình cần thay đôi thông tin, do cập nhật thêm yêu cầu của quán mình.', CAST(0xA13C0B00 AS Date), N'01669699383', N'Bcat9505@gmail.com', 4)
INSERT [dbo].[LienHe] ([MaLienHe], [TieuDe], [NoiDung], [NgayGui], [SDT], [Email], [MaVanDe]) VALUES (6, N'Thêm Khuyến mãi', N'Khuyến mãi mặt hàng đồ thể thao cho tất cả các loại áo,quần,giày,bóng', CAST(0xA13C0B00 AS Date), N'0164515354', N'yousport@gmail.com', 4)
SET IDENTITY_INSERT [dbo].[LienHe] OFF
SET IDENTITY_INSERT [dbo].[LoaiTaiKhoan] ON 

INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTK], [TenLoaiTK]) VALUES (1, N'Người dùng thông thường')
INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTK], [TenLoaiTK]) VALUES (2, N'Người dùng thân thiết')
INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTK], [TenLoaiTK]) VALUES (3, N'Người dùng V.I.P')
SET IDENTITY_INSERT [dbo].[LoaiTaiKhoan] OFF
SET IDENTITY_INSERT [dbo].[LoaiTin] ON 

INSERT [dbo].[LoaiTin] ([MaLoaiTin], [TenLoaiTin], [CapDoTin]) VALUES (1, N'Chưa duyệt', 1)
INSERT [dbo].[LoaiTin] ([MaLoaiTin], [TenLoaiTin], [CapDoTin]) VALUES (2, N'Đã duyệt', 2)
INSERT [dbo].[LoaiTin] ([MaLoaiTin], [TenLoaiTin], [CapDoTin]) VALUES (3, N'Tin vip', 3)
SET IDENTITY_INSERT [dbo].[LoaiTin] OFF
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (1, N'Admin')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (2, N'User')
INSERT [dbo].[TaiKhoan] ([Username], [Pass], [Email], [Avatar], [HoTen], [GioiTinh], [NgaySinh], [SDT], [NgayDangKy], [MaQuyen], [MaLoaiTK]) VALUES (N'DonNA', N'123', N'Bcat9505@gmail.com', N'Avatar', N'Nguyễn Anh Đôn', 1, CAST(0xA03C0B00 AS Date), N'01669699312', CAST(0xA03C0B00 AS Date), 1, 1)
INSERT [dbo].[TaiKhoan] ([Username], [Pass], [Email], [Avatar], [HoTen], [GioiTinh], [NgaySinh], [SDT], [NgayDangKy], [MaQuyen], [MaLoaiTK]) VALUES (N'hoangan', N'123', N'hoangan@gmail.com', N'Avatar', N'Nguyễn Bá Hoàng Ân', 1, CAST(0xA03C0B00 AS Date), N'0905302222', CAST(0xA03C0B00 AS Date), 1, 1)
INSERT [dbo].[TaiKhoan] ([Username], [Pass], [Email], [Avatar], [HoTen], [GioiTinh], [NgaySinh], [SDT], [NgayDangKy], [MaQuyen], [MaLoaiTK]) VALUES (N'thinhdm', N'123', N'thinhdm@gmail.com', N'Avatar', N'Đào Minh Thịnh', 1, CAST(0xA03C0B00 AS Date), N'016696993833', CAST(0xA03C0B00 AS Date), 1, 1)
INSERT [dbo].[Thich] ([MaBaiDang], [Username], [NgayThich]) VALUES (3, N'thinhdm', CAST(0xA13C0B00 AS Date))
INSERT [dbo].[Thich] ([MaBaiDang], [Username], [NgayThich]) VALUES (5, N'DonNA', CAST(0xA13C0B00 AS Date))
INSERT [dbo].[Thich] ([MaBaiDang], [Username], [NgayThich]) VALUES (7, N'thinhdm', CAST(0xA13C0B00 AS Date))
SET IDENTITY_INSERT [dbo].[TinhThanh] ON 

INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (1, N'Đà Nẵng')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (2, N'Đà Lạt')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (3, N'Huế')
SET IDENTITY_INSERT [dbo].[TinhThanh] OFF
SET IDENTITY_INSERT [dbo].[VanDe] ON 

INSERT [dbo].[VanDe] ([MaVanDe], [TenVanDe]) VALUES (1, N'Hỏi đáp')
INSERT [dbo].[VanDe] ([MaVanDe], [TenVanDe]) VALUES (2, N'Quên mật khẩu')
INSERT [dbo].[VanDe] ([MaVanDe], [TenVanDe]) VALUES (3, N'Nâng cấp tài khoản')
SET IDENTITY_INSERT [dbo].[VanDe] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__TaiKhoan__A9D1053412D0926D]    Script Date: 3/30/2017 1:01:32 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiDang]  WITH CHECK ADD  CONSTRAINT [fk_BaiDang_DanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaiDang] CHECK CONSTRAINT [fk_BaiDang_DanhMuc]
GO
ALTER TABLE [dbo].[BaiDang]  WITH CHECK ADD  CONSTRAINT [fk_BaiDang_LoaiTin] FOREIGN KEY([MaLoaiTin])
REFERENCES [dbo].[LoaiTin] ([MaLoaiTin])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaiDang] CHECK CONSTRAINT [fk_BaiDang_LoaiTin]
GO
ALTER TABLE [dbo].[BaiDang]  WITH CHECK ADD  CONSTRAINT [fk_BaiDang_TaiKhoan] FOREIGN KEY([Username])
REFERENCES [dbo].[TaiKhoan] ([Username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaiDang] CHECK CONSTRAINT [fk_BaiDang_TaiKhoan]
GO
ALTER TABLE [dbo].[BaiDang]  WITH CHECK ADD  CONSTRAINT [fk_BaiDang_TinhThanh] FOREIGN KEY([MaTinhThanh])
REFERENCES [dbo].[TinhThanh] ([MaTinhThanh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BaiDang] CHECK CONSTRAINT [fk_BaiDang_TinhThanh]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [fk_BinhLuan_BaiDang] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [fk_BinhLuan_BaiDang]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [fk_BinhLuan_TaiKhoan] FOREIGN KEY([Username])
REFERENCES [dbo].[TaiKhoan] ([Username])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [fk_BinhLuan_TaiKhoan]
GO
ALTER TABLE [dbo].[CTGiaoDich]  WITH CHECK ADD  CONSTRAINT [fk_CTGiaoDich_GiaoDich] FOREIGN KEY([MaGiaoDich])
REFERENCES [dbo].[GiaoDich] ([MaGiaoDich])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTGiaoDich] CHECK CONSTRAINT [fk_CTGiaoDich_GiaoDich]
GO
ALTER TABLE [dbo].[CTGiaoDich]  WITH CHECK ADD  CONSTRAINT [fk_CTGiaoDich_Goi] FOREIGN KEY([MaGoi])
REFERENCES [dbo].[Goi] ([MaGoi])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTGiaoDich] CHECK CONSTRAINT [fk_CTGiaoDich_Goi]
GO
ALTER TABLE [dbo].[DichVuBD]  WITH CHECK ADD  CONSTRAINT [fk_DichVuBD_BaiDang] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DichVuBD] CHECK CONSTRAINT [fk_DichVuBD_BaiDang]
GO
ALTER TABLE [dbo].[DichVuBD]  WITH CHECK ADD  CONSTRAINT [fk_DichVuBD_DichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DichVuBD] CHECK CONSTRAINT [fk_DichVuBD_DichVu]
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD  CONSTRAINT [fk_GiaoDich_TaiKhoan] FOREIGN KEY([Username])
REFERENCES [dbo].[TaiKhoan] ([Username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GiaoDich] CHECK CONSTRAINT [fk_GiaoDich_TaiKhoan]
GO
ALTER TABLE [dbo].[HinhAnh]  WITH CHECK ADD  CONSTRAINT [fk_HinhAnh_BaiDang] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HinhAnh] CHECK CONSTRAINT [fk_HinhAnh_BaiDang]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [fk_KhuyenMai_BaiDang] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [fk_KhuyenMai_BaiDang]
GO
ALTER TABLE [dbo].[LienHe]  WITH CHECK ADD  CONSTRAINT [fk_LienHe_VanDe] FOREIGN KEY([MaVanDe])
REFERENCES [dbo].[VanDe] ([MaVanDe])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LienHe] CHECK CONSTRAINT [fk_LienHe_VanDe]
GO
ALTER TABLE [dbo].[LoaiTKUuDai]  WITH CHECK ADD  CONSTRAINT [fk_LoaiTKUuDai_LoaiTaiKhoan] FOREIGN KEY([MaLoaiTK])
REFERENCES [dbo].[LoaiTaiKhoan] ([MaLoaiTK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoaiTKUuDai] CHECK CONSTRAINT [fk_LoaiTKUuDai_LoaiTaiKhoan]
GO
ALTER TABLE [dbo].[LoaiTKUuDai]  WITH CHECK ADD  CONSTRAINT [fk_LoaiTKUuDai_UuDai] FOREIGN KEY([MaUuDai])
REFERENCES [dbo].[UuDai] ([MaUuDai])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoaiTKUuDai] CHECK CONSTRAINT [fk_LoaiTKUuDai_UuDai]
GO
ALTER TABLE [dbo].[LuuBD]  WITH CHECK ADD  CONSTRAINT [fk_LuuBD_BaiDang] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
GO
ALTER TABLE [dbo].[LuuBD] CHECK CONSTRAINT [fk_LuuBD_BaiDang]
GO
ALTER TABLE [dbo].[LuuBD]  WITH CHECK ADD  CONSTRAINT [fk_LuuBD_TaiKhoan] FOREIGN KEY([Username])
REFERENCES [dbo].[TaiKhoan] ([Username])
GO
ALTER TABLE [dbo].[LuuBD] CHECK CONSTRAINT [fk_LuuBD_TaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [fk_TaiKhoan_LoaiTaiKhoan] FOREIGN KEY([MaLoaiTK])
REFERENCES [dbo].[LoaiTaiKhoan] ([MaLoaiTK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [fk_TaiKhoan_LoaiTaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [fk_TaiKhoan_Quyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [fk_TaiKhoan_Quyen]
GO
ALTER TABLE [dbo].[Thich]  WITH CHECK ADD  CONSTRAINT [fk_Thich_BaiDang] FOREIGN KEY([MaBaiDang])
REFERENCES [dbo].[BaiDang] ([MaBaiDang])
GO
ALTER TABLE [dbo].[Thich] CHECK CONSTRAINT [fk_Thich_BaiDang]
GO
ALTER TABLE [dbo].[Thich]  WITH CHECK ADD  CONSTRAINT [fk_Thich_TaiKhoan] FOREIGN KEY([Username])
REFERENCES [dbo].[TaiKhoan] ([Username])
GO
ALTER TABLE [dbo].[Thich] CHECK CONSTRAINT [fk_Thich_TaiKhoan]
GO
/****** Object:  Trigger [dbo].[DiemTB]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[DiemTB]
ON [dbo].[BinhLuan]
FOR INSERT AS 
BEGIN
	UPDATE BaiDang
	SET DiemDanhGia = (select AVG(bl.DiemDanhGia) as diemtb
					from BaiDang bd inner join BinhLuan bl on bd.MaBaiDang=bl.MaBaiDang
					inner join TaiKhoan tk on bl.Username=tk.Username
					where bd.MaBaiDang=BaiDang.MaBaiDang
					group by bd.MaBaiDang)
	FROM BinhLuan
	WHERE BaiDang.MaBaiDang=BinhLuan.MaBaiDang;
	
	PRINT N'Đã cập nhật điểm đánh giá trong bài đăng. DiemTB'
	
END



GO
/****** Object:  Trigger [dbo].[LuotThich]    Script Date: 3/30/2017 1:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[LuotThich]
ON [dbo].[Thich]
FOR INSERT AS 
BEGIN
	UPDATE BaiDang
	SET SoLuotThich = (SELECT count(*)
						FROM BaiDang bd inner join Thich t on bd.MaBaiDang=t.MaBaiDang
						where bd.MaBaiDang=BaiDang.MaBaiDang
						group by t.MaBaiDang)
	FROM BaiDang,Thich
	WHERE BaiDang.MaBaiDang=Thich.MaBaiDang;

	PRINT N'Đã cập nhật lượt thích trong bài đăng'

END
GO
USE [master]
GO
